#!/bin/bash
set -e

# hash: {{ include "dot_config/mozilla/firefox/user.js" | sha256sum | comment "# " }}

SOURCE="{{ .chezmoi.homeDir }}/.config/mozilla/firefox/user.js"
PROFILES_INI="{{ .chezmoi.homeDir }}/.config/mozilla/firefox/profiles.ini"

PROFILE_PATH=$(awk -F= '/^Default=/ {print $2; exit}' "{{ .chezmoi.homeDir }}/.config/mozilla/firefox/installs.ini")

if [ -z "$PROFILE_PATH" ]; then
    echo "No default Firefox profile found."
    exit 0
fi

TARGET="{{ .chezmoi.homeDir }}/.config/mozilla/firefox/$PROFILE_PATH/user.js"

cp "$SOURCE" "$TARGET"
echo "Firefox user.js deployed to: $PROFILE_PATH"
