#!/usr/bin/env bash

# hash: {{ include "files/krohnkite.kwinscript" | sha256sum | comment "# " }}

KROHNKITE_PATH={{ joinPath .chezmoi.sourceDir "files/krohnkite.kwinscript" | quote }}

if kpackagetool6 -t KWin/Script -s krohnkite > /dev/null 2>&1; then
    echo "krohnkite is already installed - Updating..."
    kpackagetool6 -t KWin/Script -u "$KROHNKITE_PATH"
else
    echo "krohnkite not found - Installing..."
    kpackagetool6 -t KWin/Script -i "$KROHNKITE_PATH"
fi
