encryption: age
age:
  identity: "~/.config/age/keys.txt"
  recipients:
    - "age1nnedvxpqyqkrhezz299qsw9kezxu7n6rz3kzpwz3hkfrvy63muqqvp0c29" # antares
    - "age1q4u6p3nvxzhzyfcws994539zzyr6yrxjmlz7hnyy6axr2k588vuqhe7aly" # acrab
    - "age17syctueep2jsk3k28z73frl699d20w2hayysxyaz00sy76z7qgfspqucfk" #shaula
    - "age1x6kpu2jqc64wdme9nk3g7zyref4cdzv8pudsqcvsm6qnjycqq5asj5wngd" # sargas
