@import "latte.css";
* {
  all: unset;
  min-height: 0;
  font-size: 20px;
}

window#waybar {
  background-color: @base;
}

#language,
#pulseaudio,
#battery,
#backlight,
#custom-launcher,
#custom-label_bt,
#custom-label_language,
#custom-label_pulseaudio,
#custom-label_backlight,
#custom-keyboard,
#custom-close,
#clock,
#power-profiles-daemon,
#network,
#bluetooth,
#idle_inhibitor,
#workspaces {
  font-family: "FiraCode Nerd Font";
  font-weight: 900;
  color: @text;
}
#custom-label_pulseaudio {
  color: @sky;
}
#custom-label_bt {
  color: @blue;
}
#network.net2 {
  color: @sapphire;
}
#network.net2.disconnected {
  color: @red;
}
#custom-label_backlight {
  color: @yellow;
}
#custom-label_language {
  color: @mauve;
}
#custom-launcher {
  color: @green;
}
#custom-keyboard {
  color: @blue;
}
#idle_inhibitor.activated {
  color: @red;
}
#battery.bat2.warning {
  color: @peach;
}
#battery.bat2.critical {
  color: @red;
}
#battery.bat2 {
  color: @blue;
}

#custom-close {
  color: @red;
}
#workspaces button {
  padding: 0px 12px 0px 12px;
  color: @text;
}

#workspaces button:hover {
  background: none;
  border: none;
  color: @teal;
  border-color: transparent;
  transition: none;
}

#workspaces button.empty {
  color: @overlay0;
}

#workspaces button.empty:hover {
  color: @teal;
}

#workspaces button.focused {
  border-radius: 0;
  color: @green;
  font-weight: bold;
}
